.app-container {
  padding-bottom: 3rem;
}

.app-container .title-container {
  margin: 1rem 0;
}

.app-container .title-container .hero-image {
  max-height: 150px;
  border-radius: 8px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

@media (max-width: 600px) {
  .app-container .title-container .hero-image {
    max-height: 100px;
  }
}

.sub-title {
  color: slategray;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.5rem;
  padding: 0 1rem;
}

.options-bar {
  background-color: white;
  cursor: pointer;
  border-top: 2px dashed black;
  border-bottom: 2px dashed black;
  margin: 1.6rem auto 1rem;
  padding: 0.3rem;
  font-size: 0.9rem;
}

.options-bar:hover {
  background-color: #f0f0f0;
}

.button-link {
  background: none;
  border: none;
  color: blue;
  text-decoration: underline;
  cursor: pointer;
  font-size: inherit;
  padding: 0;
  margin-top: 0.25rem;
}

.button-link:hover {
  color: navy;
}

.games-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 3rem;
  gap: 3rem;
  padding: 0 0.5rem;
}
