.board-history-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.board-history-controls button {
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0.4rem 1rem;
  background-color: #f0f0f0;
  cursor: pointer;
}

.board-history-controls button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.board-history-controls span {
  font-size: 0.9rem;
}
