.board {
  display: inline-block;
  max-width: 900px;
}

.board-row {
  display: flex;
  height: var(--piece-diameter);
}

.square {
  align-items: center;
  justify-content: center;
}

.board .square {
  width: 100%;
  height: 100%;
}

.board .square img {
  width: 100%;
  height: 100%;
}

.hidden-piece {
  visibility: hidden;
}

.piece.dragging {
  visibility: hidden;
}

.board-row .square {
  background-color: #779556;
}

.rank-count-odd .board-row:nth-child(odd) .square:nth-child(even),
.rank-count-odd .board-row:nth-child(even) .square:nth-child(odd) {
  background-color: #ebecd0;
}

.rank-count-even .board-row:nth-child(odd) .square:nth-child(odd),
.rank-count-even .board-row:nth-child(even) .square:nth-child(even) {
  background-color: #ebecd0;
}
