.board {
  display: inline-block;
  margin-top: 1rem;
}

.board-row {
  display: flex;
}

.square {
  width: 25px;
  height: 25px;
  border: 1px solid black;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
