.game-container {
  flex: 1 0 48%;
}

.game-container .game-id {
  margin-bottom: 1rem;
}

.game-container .status-container,
.app-container .title-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  min-height: 30px;
}

.game-container .status-container .pill {
  display: inline-block;
  padding: 0.25rem 0.75rem;
  border-radius: 999px;
  font-size: 0.8rem;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.game-container .status-container .pill--faded {
  opacity: 0.5;
}

.game-container .status-container .pill--pink {
  background-color: #ffb6c1;
  border: 2px solid #ff69b4;
}

.game-container .status-container .pill--blue {
  background-color: #add8e6;
  border: 2px solid #4682b4;
}

.game-container .status-container .pill--green {
  background-color: #90ee90;
  border: 2px solid #32cd32;
}

/* .game-container .pill.highlight {
  animation: highlight-animation 5s ease-in-out;
}

@keyframes highlight-animation {
  0% {
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(70, 130, 180, 0.8);
  }

  100% {
    transform: scale(1);
    box-shadow: none;
  }
} */

.game-container .chess-board-container {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.game-container .chess-board-container.is-player-turn {
  border: 9px solid #713c0b;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);

  /* Modern board style */
  /* border: 8px solid #333;
  border-radius: 4px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3); */
}
