.game-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.game-preferences-container,
.game-details-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.game-details-container {
  gap: 1rem;
  margin-top: 0.5rem;
}

.game-form .username-field,
.game-form .game-id-field {
  padding: 0 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 35px;
}

.game-preferences-form-component {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}

.game-preferences-form-component .label {
  font-size: 0.8rem;
  margin-bottom: 0.2rem;
}

.board-setup-select,
.color-preference-select {
  padding: 0 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align-last: center;
  background-color: white;
  height: 30px;
  font-size: 16px;
}

.game-form .game-preferences-form-component input[type="number"] {
  width: 50px;
  padding: 0 0.25rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
  font-size: 0.9rem;
  height: 30px;
}
